.listContainer {
  max-width: 900px;
  margin: 2rem auto;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchSortBar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}




.input {
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
}

.select {
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
}

.button {
  padding: 0.5rem 1rem;
  border-radius: 8px;
  cursor: pointer;
}


.listVertical {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.listItem {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 8px;
  gap: 16px;
}

.thumbnail {
  width: 100px;
  height: auto;
  border-radius: 4px;
}

.info {
  display: flex;
  flex-direction: column;
}

.title {
  font-weight: bold;
  color: #333;
  text-decoration: none; 
}

.date {
  color: #666;
  font-size: 0.9rem;
}

.listItemLink {
  text-decoration: none; 
  color: inherit; 
}

.listItemLink:hover .listItem {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}